body{
    overflow-x: hidden;
    font-family: 'Roboto';
    color: #505962;
}
/* navigation */
.navbar {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    background: rgba(76, 125, 139, 0.8)
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-item .nav-link.active {
    color: #E5CB90;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: lightgoldenrodyellow;
}

/*Landing page aka home page */
 .home-inner{
    background-image: url(../img/taiwanmountain1resize.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

}

.caption h1{
    font-size: 3.8rem;
    font-weight: 600;
    letter-spacing: .3rem;
    padding-bottom: 1.2rem;
    text-shadow: .1rem .1rem .6rem black;
}

.caption h3{
    font-style: italic;
    font-size: 2 rem;
    letter-spacing: .3rem;
    padding-bottom: 1.2rem;
    text-shadow: .1rem .1rem .5rem black;
}

.offset .container-fluid .adding-image .about-image > img {
    padding-top: 50px;
    padding-left: 50px;
    height: 700px;
    width: 550px;
    padding-bottom: 15px;
    
}

h2.title{
    padding-top: 12rem;
    font-size: 35px;
    padding-bottom: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.paragraph{
    font-size: 20px;
    padding-right: 10rem;
    padding-bottom: 10rem;
}

h1.sectionheader{
    font-size: 5rem;
    text-align: center;
    padding-top: 3rem;
    text-decoration: underline;
    color:  rgba(76, 125, 139, 0.8);
    font-weight: 500;
    letter-spacing: .1rem;
    padding-bottom: 1rem;
}



h1.skillsminiheader {
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: .1rem;
    color: rgba(76, 125, 139, 0.8);
}

ul.tech{
    columns: 2;
    font-size: 2rem;
    padding-left: 7.5rem;
    color: rgb(80, 82, 83);
    

}
#about-me{
    background-color: rgba(211, 211, 211, 0.46);
}
#Skills{
    background-color:  rgba(211, 211, 211, 0.26);
    padding-bottom: 10rem;
}


h3.project1header{
    padding-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
   
}

p.project1para{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 1.5rem;
}


